name: Mirror to Public Repo

on:
  push:
    branches:
      - main

jobs:
  mirror:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Push to public repo
        run: |
          if [ -z "${{ secrets.PUBLIC_REPO_TOKEN }}" ]; then
          echo "SECRET IS EMPTY"
            exit 1
          else
            echo "SECRET IS PRESENT"
          fi
          git remote remove public || true
          git remote add public https://x-access-token:${{ secrets.PUBLIC_REPO_TOKEN }}@github.com/DavidScann/COS30045-MinhKhoa-105533077.git
          git push --force public main
